*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar, .footer{
background-color: rgb(44, 42, 42);
display: flex;
flex-direction: row;
justify-content: flex-start;
padding: 20px;
padding-top: 30px;
padding-bottom: 30px;
font-size: 18px;
}
.nav-bar a{
  margin-left: 20px;
  color: aliceblue;
  text-decoration: none;
  
}
ul {
  list-style-type: none;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;    
  display: flex;    
  align-content: center;
  justify-content: center;
  display: none;
}
.footer small{
  color: white;
}

body{
  font-family: b;
}