@import "./cmps/KeepAdd.css";
@import "./cmps/KeepList.css";
@import "./cmps/KeepPreview.css";

body {
    background-color: #f5f6f8;
}

.keep-app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keep-app h5 {
    margin: 20px;
}