@import "./cmps/AddNote.css";
@import "./cmps/NoteList.css";
@import "./cmps/NotePreview.css";

body {
    background-color: lightblue;
}

.keep-app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keep-app h5 {
    margin: 20px;
}