.add-note-container {
    background-color: #fff;
    width: 600px;
    margin-bottom: 30px;
}

.add-note-controller {
    display: flex;
    justify-content: space-between;
}

.add-note-controller > * {
    margin: 10px;
}

.nav-add-note {
    width: 250px
}

.add-note-controller .nav-add-note > *{
    margin-right: 10px;
    padding: 10px;
}

.input-add-note {
    padding: 10px;
}

.textarea-add-note {
    resize: none;
    padding: 10px;
    height: 100px;
}

.nav-add-note .btn-active {
    background-color: #000;
    color: white;
}