.keep-list {
    /* background-color: #fff; */
    width: 90vw;
    
    /* column-count: 3; */
    /* column-width: 300px; */
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-flow: dense;
    gap: 20px;
}