.note-txt-card {
    background-color: #fff;
    width: 600px;
}

.note-txt-container {
    display: flex;
    justify-content: space-between;
}

.note-txt-container > * {
    margin: 10px;
}

.note-txt-container .nav-note > *{
    margin-right: 10px;
    padding: 10px;
}
